.pricing-banner {
    position: relative;
    width: 100%;
}

.pricing-banner img{
    width: 100%;
    height: 470px;
    object-fit: cover;
}

.banner-title-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
    background: #fff;
    padding: 30px 45px;
    font-size: 36px;
    font-family: "Gloock", serif;
    font-weight: 400 !important;
}

.pricing-heading {
    /* text-align: center; */
    font-size: 36px;
    font-family: "Gloock", serif;
    margin: 50px 0 20px 0;
    color: #000;
    line-height: 47px;
}

.pricing-para {
    color: rgb(80, 80, 80);
    margin: 50px 0 20px 0;
    font-weight: 300;
}

.pricing-card {
    width: 100%;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.pricing-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.pricing-card-content {
    padding: 5px 20px;
    color: rgb(80, 80, 80);;
}

.pricing-card-title {
    font-size: 21px;
    font-family: "Gloock", serif;
    margin: 20px 0 10px 0;
    color: #000;
}

.pricing-card-list {
    list-style-type: none;
    padding-left: 0px;
}

.card-check-icon {
    color: green;
}